[submodule "topic00_llms_and_software_engineering/docsum"]
	path = topic00_llms_and_software_engineering/docsum
	url = https://github.com/mikeizbicki/docsum
[submodule "topic01_rag/ragnews"]
	path = topic01_rag/ragnews
	url = https://github.com/mikeizbicki/ragnews
